
<div>
  <header >
    <div >Lib</div>
    <div style="display: flex; justify-content: center;">
      <ul>
        <li><%= link_to 'Ping', 'ping'%></li>
        <li><%= link_to 'Ping Admin', 'ping_admin'%></li>

        <li><%= link_to 'Movies', movies_path%></li>

      </ul>
    </div>
  </header>
  <div>
    <%= button_to 'Sign up', new_user_registration_path , method: 'get'%>
    <%= button_to 'Log in',new_user_session_path , method: 'get'%>
  </div>






</div>
