<div>

  <div>

    <h2>Name:</h2>
    <p><%= @actor.name %></p>
    <h2>Age:</h2>
    <p><%= @actor.age %></p>
    <h2>Id:</h2>
    <p><%= @actor.id %></p>
    <h2>Description:</h2>
    <p><%= @actor.description %></p>
    <h2>Image:</h2>
    <p><%= @actor.image %></p>


  </div>
  <%= link_to "Back to list", root_path %>

  <div id="root_buttons" >
    <td><%= button_to 'Edit', edit_actor_path(@actor), method: :get, id: 'rootBtn' %></td>
    <td><%= button_to 'Remove', actor_path(@actor), method: :delete, data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>
</div>
