<%= search_form_for @q do |f| %>
    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent" >Пошук фільму</h3>
        <%= f.text_field :title_cont, placeholder: 'Введіть назву', class: 'form-control' %>
    </div>
    <div class="left-side my-4">
        <h3 class="sear-head editContent" >Жанри</h3>
        <ul class="w3layouts-box-list">
            <% Genre.all.each do |genre| %>
                <%= f.check_box :genres_id_eq_any, { multiple: true }, genre.id, nil %>
                <%= label_tag "genre_#{genre.id}", genre.name %><br>
            <% end %>
        </ul>
    </div>

    <div class="left-side my-4">
        <h3 class="sear-head editContent" >Роки</h3>
        <ul class="w3layouts-box-list">
            <% Movie.distinct.pluck(:year).sort.each do |year| %>
                <%= f.check_box :year_eq_any, { multiple: true }, year, nil %>
                <%= label_tag "year_#{year}", year %> <br>
            <% end %>
        </ul>
    </div>

    <div class="left-side my-4">
        <h3 class="sear-head editContent">Категорії</h3>
        <ul class="w3layouts-box-list">
            <% Category.all.each do |category| %>
                <%= f.check_box :category_id_eq_any, { multiple: true }, category.id, nil %>
                <%= label_tag "category_#{category.id}", category.name %><br>
            <% end %>
        </ul>
    </div>

    <%= f.submit 'Пошук' %>
<% end %>
