

<li><%= link_to 'Create movie', new_movie_path%></li>
<li><%= link_to 'Main page', main_index_path%></li>

<%= search_form_for @q do |f| %>
  <%= f.text_field :title_cont, placeholder: 'Search' %>




  <% Genre.all.each do |genre| %>
    <%= f.check_box :genres_id_eq_any, { multiple: true }, genre.id, nil %>
    <%= label_tag "genre_#{genre.id}", genre.name %>
  <% end %>


  <% Movie.distinct.pluck(:year).sort.each do |year| %>
    <%= f.check_box :year_eq_any, { multiple: true }, year, nil %>
    <%= label_tag "year_#{year}", year %>
  <% end %>


  <% Category.all.each do |category| %>
    <%= f.check_box :category_id_eq_any, { multiple: true }, category.id, nil %>
    <%= label_tag "category_#{category.id}", category.name %>
  <% end %>


  <%= f.submit 'Search' %>
<% end %>




  <div >
    <table >
      <thead >
      <tr>
        <th >Movie Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @movie_shorts.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= link_to 'Show', movie_path(movie.movie_id) %></td>


      <% end %>
      </table>

    <!-- Пагинация -->
    <%= will_paginate @movie_shorts %>
  </div>

