<div id="page" class="page">
  <div class="main-banner bg" id="home" style="background-image: url(<%= asset_path('main.jpg') %>)">
    <%= render 'movies/header' %>
  </div>
  <ol class="breadcrumb editContent">
    <li class="breadcrumb-item">
      <%= link_to 'Home', root_path, class: 'editContent' %>
    </li>
    <li class="breadcrumb-item active editContent">Single Page</li>
  </ol>
</div>

<section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">

  <div class="container-fluid py-md-3">
    <div class="row">
      <div class="side-bar col-lg-3">
        <%= render 'movies/sidebar' %>
      </div>
      <div class="left-ads-display col-lg-8">
        <div class="row">
          <div class="desc1-left col-md-6">
            <%= image_tag @movie.poster, style: 'width: 400px; height: 600px; margin-left: 15%' %>
          </div>
          <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" style="outline: none; cursor: inherit;">
              <%= @movie.title %></h3>
            <h5 class="editContent"></h5>
            <ul>
              <li style="list-style: none"><span><b>Рік:</b> <%= @movie.year %></span></li>
              <li style="list-style: none"><span><b>Країна:</b> <%= @movie.country %></span></li>
              <li style="list-style: none"><span><b>Слоган:</b> <%= @movie.tagline %></span></li>
              <li style="list-style: none">
                            <span><b>Режисер:</b>
                              <% @movie.directors.each do |director| %>
                                   <p><%= director.name %></p>
                                <% end %>
                            </span>
              </li>
              <li style="list-style: none">
                                <span><b>Актори:</b>
                                  <% @movie.actors.each do |actor| %>
                                    <p><%= actor.name %></p>
                                <% end %>
                                </span>
              </li>
              <li style="list-style: none">
                            <span><b>Жанри:</b>
                              <% @movie.genres.each do |genre| %>
                                    <p><%= genre.name %></p>
                              <% end %>
                            </span>
              </li>
              <li style="list-style: none"><span><b>Прем'ера у світі :</b> <%= @movie.world_premier %></span>
              </li>
              <li style="list-style: none"><span><b>Бюджет:</b> $<%= @movie.budget %></span></li>
              <li style="list-style: none"><span><b>Сбори в США:</b> $<%= @movie.fees_in_usa %></span></li>
              <li style="list-style: none"><span><b>Сбори у світі:</b> $<%= @movie.fees_in_world %></span>
              </li>
              <li style="list-style: none"><span><%= button_to 'Like', like_movie_path(@movie), method: :post %></span></li>
              <li style="list-style: none"><span><b>Likes:</b><%= @likes %></span></li>
              <li style="list-style: none"><span><%= button_to "Dislike", dislike_movie_path(@movie), method: :post %></span></li>
              <li style="list-style: none"><span><b>Dislikes:</b><%= @dislikes %></span></li>


            </ul>
          </div>
        </div>
        <div class="">
          <h3 class="editContent mt-4" style="outline: none; cursor: inherit;">Про фільм</h3>
          <br>
          <p class="editContent" style="outline: none; cursor: inherit;">
            <%= @movie.description %>
          </p>
          <ul style="display: flex; justify-content: space-between">
            <% @movie_shorts.each do |movie_short| %>
              <%= image_tag movie_short.image, style: "width: 350px; height: 200px;" %>
            <% end %>
          </ul>
        </div>
        <hr>
        <div class="row" style="display: flex; flex-direction: column">
          <div class="single-form-left">
            <!-- contact form grid -->
            <div class="contact-single">
              <div>
                <h2 class="mt-2">Відгуки</h2>
                <%= render partial: 'review_form', locals: { parent_id: nil } %>
                <% @movie.reviews.where(parent_id: nil).each do |review| %>
                  <%= render 'review', review: review %>
                <% end %>
              </div>
            </div>
            <!-- //contact form grid ends here -->
          </div>

        </div>
      </div>
    </div>
    <script>
        function addReview(name, id) {
            document.getElementById('contactparent').value = id
            document.getElementById('contactcomment').innerText = `${name},`
        }
    </script>
  </div>
  <% if current_user.admin %>
  <%= link_to "Back to list", root_path %>

  <div id="root_buttons">
    <td><%= button_to 'Edit', edit_movie_path(@movie), method: :get, id: 'rootBtn' %></td>
    <td><%= button_to 'Remove', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>
    <% end %>
</section>

