<div>

  <div>

    <h2>Name:</h2>
    <p><%= @movie.title %></p>

    <%= button_to 'Like', like_movie_path(@movie), method: :post %>
    <%= button_to "Dislike", dislike_movie_path(@movie), method: :post %>

    <h2>Likes:</h2>
    <p><%= @likes %></p>
    <h2>Dislikes:</h2>
    <p><%= @dislikes %></p>
    <h2>Url:</h2>
    <p><%= @movie.url %></p>
    <h2>Id:</h2>
    <p><%= @movie.id %></p>
    <h2>Tagline:</h2>
    <p><%= @movie.tagline %></p>
    <h2>Poster:</h2>
    <p><%= image_tag @movie.poster %></p>
    <h2>Year:</h2>
    <p><%= @movie.year %></p>
    <h2>Country:</h2>
    <p><%= @movie.country %></p>
    <h2>World premier:</h2>
    <p><%= @movie.world_premier %></p>
    <h2>budget:</h2>
    <p><%= @movie.budget %></p>
    <h2>Fees in world:</h2>
    <p><%= @movie.fees_in_world %></p>
    <h2>Fees in usa:</h2>
    <p><%= @movie.fees_in_usa %></p>
    <h2>Category:</h2>
    <p><%= @movie.category.name %></p>
    <h2>Draft:</h2>
    <p><%= @movie.draft %></p>
    <h2>Description:</h2>
    <p><%= @movie.description %></p>
    <h2>Genres</h2>
    <% @movie.genres.each do |genre| %>
      <p><%= genre.name %></p>
      <% end %>
    <h2>Actors</h2>
    <% @movie.actors.each do |actor| %>
      <p><%= actor.name %></p>
    <% end %>

    <h2>Directors</h2>
    <% @movie.directors.each do |director| %>
      <p><%= director.name %></p>
    <% end %>

    <h2>Shorts</h2>
    <%= link_to 'Create Movie Short', new_movie_short_path(movie_id: @movie.id) %>
    <table >
      <thead >
      <tr>
        <th >Shorts Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @movie_shorts.each do |movie_short| %>
        <tr>
          <td><%= movie_short.title %></td>
          <td><%= button_to 'delete', movie_short_path(movie_short.id) , method: :delete%></td>


      <% end %>
      </table>




    <div>
      <h2>Reviews</h2>

      <% render 'review_form', parent_id: nil %>

      <% @movie.reviews.where(parent_id: nil).each do |review| %>
        <%= render 'review',review: review  %>
      <% end %>
    </div>




  </div>
  <%= link_to "Back to list", root_path %>

  <div id="root_buttons" >
    <td><%= button_to 'Edit', edit_movie_path(@movie), method: :get, id: 'rootBtn' %></td>
    <td><%= button_to 'Remove', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>
</div>
