<div>

  <div>

    <h2>IP:</h2>
    <p><%= @rating.ip %></p>
    <h2>stars:</h2>
    <p><%= @rating.star.value %></p>
    <h2>Id:</h2>
    <p><%= @rating.id %></p>
    <h2>movie:</h2>
    <p><%= @rating.movie.title %></p>



  </div>
  <%= link_to "Back to list", root_path %>

  <div id="root_buttons" >
    <td><%= button_to 'Edit', edit_rating_path(@rating), method: :get, id: 'rootBtn' %></td>
    <td><%= button_to 'Remove', rating_path(@rating), method: :delete, data: { confirm: 'Are you sure?' }, id: 'rootBtn' %></td>
  </div>
</div>
